.edu-cont{
    margin-top: 15%;
}

.mycard{
    width:90%;
    margin-left: 7%;
    border-style: none;
}
.card{
    height: 60vh;
    border-color: black;
}
.detail{
    color: white;
    background-color: black;
    border-color: white;
}