
 .mySkill {
    margin-top: 20%;
    margin-bottom: 20%;
    padding: 2%;
    color: black;
  } 
 .title{
  font-weight: 700;
   font-size: 40px;
 }
 /* .by{
  -webkit-text-stroke: 2px black;
  color: #ffff;
 } */
 .skill-content{
   margin-top: 3%;
 }
 
 .comp img{
   max-width: 100%;
 }
 
 .lang-row{
   font-size: 20px;
   /* background-color: aqua; */
 }
 .lang-row h6{
   font-weight: 700;
   font-size: 30px;
 }
 .desc{
   font-weight: 700;
   font-size: 16px;
   padding-top: 10%;
   /* padding: 10%; */
 }
 .credit{
   font-size: 11px;
   font-weight: 500;
   font-style: italic;
 }
 @media only screen 
  and (max-device-width: 800px)
 {
  .comp{
        display: none;  
    }
}