.scrolled{
  display: none !important;
}


nav.navbar {
  padding: 18px 0 0 0;
  position: fixed;
  background-color: white;
  width: 100%;
  top: 0;
  overflow: hidden;
  z-index: 9999;
  animation: nav-ani 1s;
    
  }
.name{
  font-weight: 700;
}
  .navbar-link {
    font-weight: 400;
    background-color: rgb(255, 255, 255);
    letter-spacing: 0.8px;
    padding: 0 25px;
    font-size: 18px;
  }
.navbar-nav a.nav-link.navbar-link.active {
    font-weight: 500;

}

.nav-button button{
  border: none;
  color: #fff;
  background-color: #000;
  font-size: 1rem;
  transition:font-size 1s ease;
  
}

.nav-button:hover .rotatedarrow{
  font-size: 90%;
  transform: rotate(0deg);
  
}
.nav-button:hover button{
  background-color: #000;
  font-size: 0.8rem;
  cursor: none;
}

@keyframes nav-ani{
  0%{
      opacity: 0;
      transform: translateY(-330px);
  }
  100%
  {
      opacity: 1;
      transform: translateY(0px) ;
  }
}