.main-cursor,.secondary-cursor{
    z-index: 10000;
    pointer-events: none;
    overflow: hidden;
    transform: translate3d(0, 0, 0);
    position: fixed;   
}
.main-cursor{
    border-radius: 50%;
    width: 80px;
    height: 80px;
    border:1px solid black;
    pointer-events: none;
}
.secondary-cursor{
    border-radius: 50%;
    background-color: black;
    width: 20px;
    height: 20px;
    border:1px solid black;
    pointer-events: none;
}
@media only screen 
  and (max-device-width: 800px)
 {
    .main-cursor,.secondary-cursor{
        display: none;  
    }
}