.header{
    margin-top: 2vh;
    /* background-color: aqua; */
}

.header h1{
    font-size: 90px;
    font-weight: 700;
    color: black;
}
.header p{
    font-size: 20px;
    /* font-weight: 700; */
}

.content{
    height: calc(100vh - 20px);
    overflow-y: hidden
}

.name{
    text-align: right;
}


@media only screen 
  and (max-device-width: 800px)
 {
    .header h1{
        
        font-size: 50px;
    }
}

